{
  "presets": [
    ["@babel/preset-env", {
      "modules": false,
      "targets": {
        "browsers": "> 1%",
        "uglify": true
      },
      "useBuiltIns": "entry"
    }], "@babel/preset-react"
  ],

  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "dynamic-import-node",
    "transform-object-rest-spread",
    ["transform-class-properties", { "spec": true }]
  ]
}
