<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Shadows+Into+Light" rel="stylesheet">
</head>
<body>
  <div class="logo">
    TeamClass
  </div>
  <div id="explainer">
    The group project app
  </div>
<div class="container">
  <a href="/signups" class="account">Signup</a><a href="/login" class="account">Login</a>
</div>
</body>
</html>
