// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new_project{
  text-align: center;
  font-family: 'Shadows Into Light', cursive;

}


.existing_projects{
  text-align: center;
  font-family: 'Shadows Into Light', cursive;
  border: solid;
  border-color: #1EE613;
  margin: 3%;

}

.project_links{
  text-decoration: none;
  color: #1EE613;
  font-family: 'Shadows Into Light', cursive;
  border:solid;
  border-color: #1EE613;
  background-color: #2b296b;
  display: block;
  text-align: center;
  margin-bottom: 4%;
  margin-left: auto;
  margin-right: auto;
  width: 15%;

}

.project_links:hover{
  color: white;
  background-color: #1EE613;
  cursor: pointer;

}

.working_on_info{
  font-family: 'Shadows Into Light', cursive;
  text-align: center;
  margin-top: 7%;
  background-color: firebrick;
  color: white;
}

//navbar

.navbar{
  display: inline;
  margin: 5%;
  text-decoration: none;
  color: #1EE613;
  font-family: 'Shadows Into Light', cursive;
  font-size: 22px;
}

a{
  text-decoration: none;
  color: #1EE613;
}

a:hover{
  color: white;
  cursor: pointer;
}

nav{
  text-align: center;
  position: absolute;
  top:0;
  background-color: #2b296b;
  width: 100%;
  height:13%;
}

.nav_logo{
  font-family: 'Indie Flower', cursive;
  color: white;
  text-decoration: none;
  position: absolute;
  top: 1%;
  left: 70px;
  font-size: 30px;
  display: inline;
}

.nav_logo:hover{
  cursor: pointer;
  color: #1EE613;
}

//team stylings

.team_members{
  background-color: firebrick;
  width: 30%;
  color: white;
  font-family: 'Shadows Into Light', cursive;
  display: inline;
  text-align: center;
}

.member_listings{
  display: inline-block;
  background-color: firebrick;
  width: 30%;
  font-family: 'Shadows Into Light', cursive;
  margin-left: 12%;
  margin-top: 5%;
  margin-bottom:5%;
}

.member_button{
  color: white;
  border: solid;
  border-color:white;
  text-align: center;
}

.member_button:hover{
  color:firebrick;
  background-color: white;
  border-color:firebrick;
  cursor:pointer;
}

//center positioning
.center_stage{
  background-color: #CDCDCD;
  width: 80%;
  margin:auto;
}

ol{
  display: inline;
}
li{
  display:inline
}

//materials form

.materials_form{
  background-color: white;
  display: inline-block;
  margin-left: 27.5%;
  margin-bottom:10%;
  text-align: center;
  font-family: 'Shadows Into Light', cursive;

}

//hide members display CSS

.hide_members{
  display:none;
}

//Footer

.footer{
  height:5%;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: black;
  margin: 0;
  overflow: hidden;

}
